.background-body{
    background-color: #222222;
}

.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    color: blueviolet;
}

i{
    border: 0.1rem solid black;
}

p,
li{
    color: plum;
    padding: 0.5rem;
}

header{
        color: blueviolet;
}
